@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;

    top: 0;
    position: sticky;
    font-size: 1.5rem;
    background-color: rgba(241,235,225,255);
    height: 80px;
    display: flex;
    z-index:100; 
    justify-content: space-around;
  }

  /* area in question */
  .navbar__menu {
    display: flex;
    /* grid-template-columns: auto; */
    margin: 0;
    /* width: 100%; */
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 30vh; 
    z-index: -1;
    background: rgba(241,235,225,255);

    width: 250px;
    border-radius: 10px;

    overflow: hidden;

    /* height: 100%; */
    right: 0;
  }

  .navbar__menu.active {
    background: #d8c3a5;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    /* height: 50vh; */
    height: fit-content;
    /* height: 40rem; */
    font-size: 1.5rem;
    flex-direction: column; 
    align-items: start;
    justify-content: space-between;
    display: inline-block; 
    box-sizing: border-box;
    
    

    /* width: 0;
    position: fixed;
    z-index: 1;
    right:0;  */
  }

  #navbar__logo {
    /* position: relative; */
    font-size: 2rem;
    position: relative;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: hsl(165,60%, 40%);
  }

  .navbar__links {
    /* text-align: center; */
    padding: 2rem;
    width: 100%;
    /* display: table; */
    display: inline-block;
/* trying this bottom */
    /* padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    letter-spacing: 5px;
    margin-bottom: 20px;
    transition: 0.3s; */
  }

  .navbar__links::after{
    z-index: -1;
    position: absolute;
    left: 0%;
    width: 0;
    height: 50px;
    /* background: hsl(165,60%, 40%); */
    background: #e85e4f;
    content: '';
    transition: width 0.35s ease-in-out;                                 
  }

  .navbar__links:hover:after{
    width: 17%;
  }

  .navbar__links:hover{
   padding-left: 64px;
   transition: 0.35 ease-in-out;

  }

  #mobile-menu {
    /* this fixes the logo being in the center but the th lines moved and become mis aligned */
    /* position: absolute; */
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  } 
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  
}
